/*Win2-7 Gnome Shell Theme*/
stage {
	font-family: SegoeUI;
}

.shell-link {
	color: #444;
	text-decoration: underline;
}

.shell-link:hover {
	color: #222;
}

.label-shadow {
	color: rgba(0,40,60,0.0);
}

/*Scroll Bars*/

StScrollBar
{
	padding: 0px;
}

StScrollView.vfade
{
	-st-vfade-offset: 68px;
}

StScrollView.hfade
{
	-st-hfade-offset: 68px;
}

StScrollView StScrollBar
{
	min-width: 15px;
	min-height: 20px;
}

StScrollBar StBin#trough {
	background-gradient-direction: horizontal;
	background-gradient-end: #fcfcfc;
	background-gradient-start: #e9e9e9;
	border-radius: 2px;
}

StScrollBar StButton#vhandle
{
	background-image: url("img/scroll-thumb-vert.png");
	background-color: #f6f6f6;
	box-shadow: inset 0px 1px 3px 0px rgba(255,255,255,0.1);
	border: 1px  #8a8a8c;
	border-radius: 2px;
	transition-duration: 150;
}

StScrollBar StButton#hhandle
{
	background-image: url("img/scroll-thumb-horiz.png");
	background-color: #f6f6f6;
	box-shadow: inset 0px 1px 3px 0px rgba(255,255,255,0.1);
	border: 1px  #8a8a8c;
	border-radius: 2px;
	transition-duration: 150;
}

StScrollBar StButton#vhandle:hover
{
	background-image: url("img/scroll-thumb-vert-prelight.png");
	background-color: #fdfeff;
	border: 1px  #3c7fb1;
}

StScrollBar StButton#hhandle:hover
{
	background-image: url("img/scroll-thumb-horiz-prelight.png");
	background-color: #fdfeff;
	border: 1px  #3c7fb1;
}

StTooltip StLabel {
	background-gradient-direction: vertical;
	background-gradient-end: rgba(218,223,239,1.0);
	background-gradient-start: rgba(253,253,254,1.0);
	border: 1px  rgba(93,108,146,1.0);
	box-shadow: inset 0px 1px 3px 0px rgba(255,255,255,0.1);
	border-radius: 3px;
	padding: 2px 12px;
	font-weight: normal;
	text-shadow: 0px 1px 2px rgba(0,0,0,0.9);
	text-align: center;
}

/*App Switcher*/

#altTabPopup {
	padding: 11px;
	spacing: 16px;
	background: rgba(0,0,0,0.3);
}

.switcher-list {
	background-gradient-direction: vertical;
	background-gradient-end: rgba(255,255,255,0.6);
	background-gradient-start: rgba(255,255,255,0.89);
	border-radius: 4px;
	border: 1px  rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);
	color: rgba(0,0,0,0.8);
	font-size: 12px;
	font-weight: bold;
	padding: 10px 20px;
	text-shadow: rgba(255,255,255,0.3) 0px 1px 0px;
}

.switcher-list-item-container {
	spacing: 16px;
}

.thumbnail-scroll-gradient-left {
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(51, 51, 51, 1.0);
	background-gradient-end: rgba(51, 51, 51, 0);
	border-radius: 4px;
	border-radius-topright: 0px;
	border-radius-bottomright: 0px;
	width: 60px;
}

.thumbnail-scroll-gradient-right {
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(255,255, 51, 0);
	background-gradient-end: rgba(51, 51, 51, 1.0);
	border-radius: 4px;
	border-radius-topleft: 0px;
	border-radius-bottomleft: 0px;
	width: 60px;
}

.switcher-list .item-box {
	padding: 10px;
	border-radius: 4px;
}

.switcher-list .item-box:outlined {
	background-gradient-direction: vertical;
	background-gradient-start: #ceeafb;
	background-gradient-end: #59b7f2;
	box-shadow: inset 0 2px 3px 0 rgba(0,0,0,0.4) ;
	border-radius: 4px;
	border: 1px  rgba(132,172,221,1.0);
	color: rgba(0,0,0,0.8);
}

.switcher-list .item-box:selected {
	background-gradient-direction: vertical;
	background-gradient-start: #ceeafb;
	background-gradient-end: #59b7f2;
	border-radius: 4px;
	border: 1px  rgba(132,172,221,1.0);
	color: rgba(0,0,0,0.8);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.4);
}

.switcher-list .thumbnail-box {
	padding: 2px;
	spacing: 4px;
}

.switcher-list .thumbnail {
	width:  250px;
}

.switcher-list .separator {
	width: 1px;
	height: 15px;
	background-color: rgba(255,255,255,0.8);
}

.ripple-box {
	width: 52px;
	height: 52px;
	background-image: url("img/corner-ripple-ltr.png");
}

.ripple-box:rtl {
	width: 52px;
	height: 52px;
	background-image: url("img/corner-ripple-rtl.png");
}

.switcher-arrow {
	border-color: rgba(0,0,0,0);
	color: #808080;
}

.switcher-arrow:highlighted {
	border-color: rgba(0,0,0,0);
	color: white;
}

/* Check Boxes */

.check-box ShellGenericContainer {
    spacing: .8em;
}

.check-box StBin {
    width: 24px;
    height: 22px;
    background-image: url("img/checkbox-off.svg");
}

.check-box:focus StBin {
    background-image: url("img/checkbox-off-focused.svg");
}

.check-box:checked StBin {
    background-image: url("img/checkbox.svg");
}

.check-box:focus:checked StBin {
    background-image: url("img/checkbox-focused.svg");
}

/*PopupMenu*/

.popup-menu-boxpointer {
	-arrow-border-radius: 6px;
	-arrow-background-color: rgba(255,255,255,0.95);
	-arrow-border-width: 1px;
	-arrow-border-color: rgba(0,0,0,0.3);
	-arrow-base: 21px; 
	-arrow-rise: 11px; 
}

.popup-menu {
	color: #333;
	font-size: 9pt;
	min-width: 85px;
}

.popup-submenu-menu-item:open {
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	border: 1px  rgba(174,207,247,1.0);
	/*background-color: rgba(56,117,215,1);*/
}

.popup-sub-menu { /* Don't use border-radius or box-shadow here. It causes the shell to crash. */
	background-color: white;
	padding: 2px;
	border: 1px  #b8cadc;
	border-radius: 3px;
}

.popup-sub-menu .popup-menu-item:ltr {
	padding-right: 0em;
}

.popup-sub-menu .popup-menu-item:rtl {
	padding-left: 0em;
}

.popup-sub-menu StScrollBar {
	padding-left: 2px;
}

/*.popup-sub-menu StScrollBar StBin#trough {
	border: 0px;
}

.popup-sub-menu StScrollBar StBin#vhandle {
	border: 1px  #8a8a8c;
}*/

.popup-combo-menu {
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	/*background-color: rgba(56,117,215,1);*/
	padding: 1em 0em;
	color: #000;
	font-size: 9pt;
	border: 1px  rgba(174,207,247,1.0);
	border-radius: 4px;
}

/* The remaining popup-menu sizing is all done in ems, so that if you
* override .popup-menu.font-size, everything else will scale with it.
*/
.popup-menu-content {
	padding: 2px 2px;
	color: #333;
}

.popup-menu-item {
	font-weight: normal;
	font-size: 9pt;
	padding: 0.3em 1.5em;
	spacing: 1.5em;
	color: #333;
	border-radius: 3px;
	border: 1px  rgba(0,0,0,0);
}

.popup-menu-item:active {
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	/*background-color: rgba(56,117,215,1);*/
	text-shadow: 0 0px 0px rgba(255,255,255,1);
	color: #000;
	border: 1px  rgba(174,207,247,1.0);
}

.popup-menu-item:insensitive {
	color: #91AABE;
}

.popup-image-menu-item {
}

.popup-combobox-item {
	spacing: 1em;
	color: #333;
}

.popup-separator-menu-item {
	-gradient-height: 1px;
	-gradient-start: rgba(0,0,0,0.0);
	-gradient-end: rgba(0,0,0,0.3);
	height: 0.1em;
}

.popup-alternating-menu-item:alternate {
	font-weight: bold;
}

.popup-slider-menu-item {
	height: 2em;
	min-width: 15em;
	-slider-height: 2.4px;
	-slider-background-color: #ffffff;
	-slider-border-color: #b4b4b4;
	-slider-active-background-color: rgba(56,117,215,1);
	-slider-active-border-color: rgba(0,0,0,0.3);
	-slider-border-width: 0.5px;
	-slider-handle-radius: 0.6em;
}

.popup-device-menu-item {
	spacing: .5em;
}

.popup-inactive-menu-item {
	font-weight: normal;
	color: #666;
}

.popup-subtitle-menu-item {
	font-weight: bold;
}

.popup-menu-icon {
	icon-size: 1.14em;
}

/*Switches (to be used in menus)*/
.toggle-switch {
	width: 54px;
	height: 13px;
}

.toggle-switch-us {
	background-image: url("img/off.png");
}
.toggle-switch-us:checked {
	background-image: url("img/on.png");
}

.toggle-switch-intl {
	background-image: url("img/off.png");
}
.toggle-switch-intl:checked {
	background-image: url("img/on.png");
}

.nm-menu-item-icons {
	spacing: .5em;
}

/*Panel*/
#panel {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(254,254,255,1.0);
	background-gradient-end: rgba(182,188,204,1.0);
	border-radius: 0px 0px 0px 0px;
	border: 0px  rgba(150,150,150,0.0);
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.6);
	height: 1.86em;
}

#panelLeft, #panelCenter, #panelRight {
	spacing: 4px;
	font-size: 9pt;
}

#panelLeft:ltr,
#panelRight:rtl {
	padding-right: 4px;
}

#panelLeft:rtl,
#panelRight:ltr {
	padding-left: 4px;
}

#appMenu {
	spacing: 4px;
}

.panel-button {
	-natural-hpadding: 10px;
	-minimum-hpadding: 5px;
	font-weight: normal;
	color: #333;
	text-shadow: 0px 0.9px 0.9px rgba(255,255,255,0.4);
	/*border-radius: 0px 0px 4px 4px;*/
	border-radius: 3px;
	border: 1px  rgba(111,111,111,0.0);
}

.panel-button:hover,
.panel-button:active,
.panel-button:checked,
.panel-button:focus,
.panel-status-button:hover,
.panel-status-button:active,
.panel-status-button:checked,
.panel-status-button:focus {
	/*background-color: rgba(56,117,215,1);*/
	background-gradient-direction: vertical;
	background-gradient-start: #b7b8ba;
	background-gradient-end: #eaeefc;
	color: #000;
	text-shadow: 0 0px 0px rgba(255,255,255,1);
	border: 1px  #696b6d;
}

.panel-button #appMenuIcon {
	width: 0px;
	height: 0px;
	app-icon-bottom-clip: 0px;
}

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon {
	app-icon-bottom-clip: 0px;
}

.app-menu-icon {
/*  width: 24px;
	height: 24px;*/
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
}

.panel-menu {
	-boxpointer-gap: 4px
}

#panelUserMenu {
	spacing: 8px;
	color: #2E3333;
}

/*The rounded panel corners don't
* support transitions, so disable transitions
* for the buttons at the left/right edges*/

#panelActivities {
	transition-duration: 0;
	border-radius: 0px 0px 0px 4px;
}

#panelStatus {
	transition-duration: 0;
	color: #2E3333;
}

#legacyTray {
	spacing: 14px;
	padding-left: 14px;
}

#legacyTray:rtl {
	padding-left: 0px;
	padding-right: 14px;
}

#legacyTray:compact {
	spacing: 8px;
}

.status-chooser {
	spacing: .4em;
	color: #566060;
}

.status-chooser .popup-menu-item,
.status-chooser-combo .popup-menu-item {
	padding: .4em;
	color: #787878;
}

.status-chooser-user-icon {
	border: 1px  rgba(150,150,150,0.0);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.15);
	border-radius: 4px;
	width: 48pt;
	height: 48pt;
	color: rgba(56,117,215,1);
}

.status-chooser-user-icon:hover {
	border: 1px  rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px rgba(0,0,0,0.2);
	color: rgba(56,117,215,1);
}

.status-chooser-user-name {
	color: #333;
	font-weight: bold;
	font-size: 1.3em;
	text-align: center;
	min-width: 120pt;
}

.status-chooser-combo {
	border: 1px  transparent;
	font-size: 9pt;
	text-align: center;
	color: #566060;
}

.status-chooser-combo.popup-combo-menu {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,255,0.7);
	background-gradient-end: rgba(255,255,255,255,0.5);
	border-radius: 4px;
	border: 3px  rgba(150,150,150,0.0);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.4);
	padding: 4pt;
	color: #566060;
	font-size: 9pt;
	text-align: center;
}

.status-chooser-status-item,
.status-chooser-combo .popup-combobox-item {
	spacing: .4em;
	text-align: center;
	color: #566060;
}

.system-status-icon {
	icon-size: 1.14em;
}
#statusTray > .panel-button:active,
#statusTray > .panel-button:checked,
#statusTray > .panel-button:focus {
}

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon {
}

/*Overview*/

#overview {
	spacing: 12px;
	background-gradient-direction: vertical;
	background-gradient-end: rgba(255,255,255,0.3);
	background-gradient-start: rgba(255,255,255,0.9);
}

.workspace-controls {
	visible-width: 15px; /* Amount visible before hovering */
}

.workspace-thumbnails-background {
	background-color: rgba(255,255,255,0.85);
	box-shadow: inset 0px 1px 3px 0px rgba(255,255,255,0.1);
	border: 1px  rgba(0,0,0,0.2);
	border-right: 0;
	border-radius: 4px 0 0 4px;
	padding: 9px;
}

.workspace-thumbnails-background:rtl {
	border-right: 1px;
	border-left: 0;
	border-radius: 0 4px 4px 0;
}

.workspace-thumbnails {
	spacing: 9px;
}

.workspace-thumbnail-indicator {
	outline: 2px  rgba(56,117,215,1);
	border: 1px  rgba(56,117,215,0.15);
}

.window-caption {
	color: #333;
	font-weight: bold;
	padding: 3px 9px;
	text-align: center;
	-shell-caption-spacing: 6px;
}

.window-close {
	background-image: url("img/close-window.svg");
	height: 32px;
	width: 32px;
	-shell-close-overlap: 20px;
	-st-background-image-shadow: -2px 2px 6px rgba(0,0,0,0.5);
}

.window-close:rtl {
	-st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
}

/*Dash*/

#dash {
	background-color: rgba(255,255,255,0.85);
	border: 1px rgba(0,0,0,0.2);
	padding: 6px 0;
	border-left: 0;
	border-radius: 0 4px 4px 0;
}

#dash:rtl {
	border-left: 1px;
	border-right: 0;
	border-radius: 4px 0 0 4px;
}

#dash:empty {
	height: 100px;
	width: 60px;
}

.placeholder {
	background-image: url("img/dash-placeholder.png");
	background-size: contain;
	height: 27px;
}

#viewSelector {
	spacing: 1em;
}

#viewSelectorTabBar {
	padding: 1em;
}

/*Search Box*/

#searchArea {
	padding: 0px 24px;
}

#searchEntry {
	color: #333;
	font-size: 10pt;
	background-color: rgba(255,255,255,0.85);
	border: 1px rgba(0,0,0,0.2);
	border-radius: 4px;
	padding: 4px 12px;
	selection-background-color: #3399ff;
	selected-color: #fff;
	caret-color: rgb(128,128,128);
	caret-size: 1px;
	width: 200px;
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
}

#searchEntry:focus{
	background-color: rgba(255,255,255,0.85);
	color: #333;
}

#searchEntry:hover {
	border: 1px #3399ff;;
}

.search-entry-icon {
	color: #333;
	icon-size: 1em;
}

/*View Tabs*/

.view-tab-title {
	color: #333;
	font-size: 10pt;
	font-weight: bold;
	padding: 4px 12px;
	background-color: rgba(255,255,255,0.85);
	text-shadow: 0 0px 0px rgba(255,255,255,1);
	border: 1px rgba(0,0,0,0.2);
	border-radius: 0px;
	border-right: 1px;
}
.view-tab-title:first-child {
	border-radius: 4px 0 0 4px;
	border-right: 0px;
}

.view-tab-title:last-child {
	border-radius: 0 4px 4px 0;
	border-left: 1px;
}
.view-tab-title:hover {
	color: #333;
}

.view-tab-title:selected {
	color: #000;
	font-weight: bold;
	/*background-color: rgba(56,117,215,1);*/
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	text-shadow: 0 0px 0px rgba(255,255,255,1);
	border: 1px  rgba(174,207,247,1.0);
}

/*Search Results*/

#searchResults {
	padding: 20px 10px 10px 10px;
	spacing: 18px;
}

#searchResultsContent {
	padding-right: 20px;
	spacing: 36px;
}

#searchResultsContent:rtl {
	padding-right: 0px;
	padding-left: 20px;
}

/* Результат поиска в обзоре*/

.search-statustext,
.search-section-header {
	padding: 4px 12px;
	spacing: 4px;
	color: #333;
	font-size: 10pt;
	font-weight: bold;
	border: 1px rgba(0,0,0,0.2);
	border-bottom: 0px;
	background-color: rgba(255,255,255,0.85);
	border-radius: 4px 4px 0px 0px;
}

.search-section-results {
	color: #333;
	font-weight: bold;
	padding: 6px;
	border: 1px rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.15);
	border-radius: 0px 0px 4px 4px;
}

.search-section-list-results {
	spacing: 4px;
}

.results-container {
	spacing: 4px;
}

.search-providers-box {
	spacing: 12px;
}

/*Dash Search Button*/

.dash-label {
	color: #333;
	font-size: 9pt;
	padding: 4px 12px;
	background-color: rgba(255,255,255,0.85);
	border: 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	text-align: center;
	-x-offset: 8px;
}

.dash-search-button-label {
	font-size: 10pt;
}

.dash-search-button {
	border: 1px rgba(0,0,0,0.5);
	background-color: rgba(255,255,255,0.85);
	border-radius: 4px;
	padding-top: 4px;
	padding-bottom: 5px;
	width: 300px;
	font-weight: bold;
	color: #333;
}

.dash-search-button:selected,
.dash-search-button:hover {
	border: 1px  rgba(174,207,247,1.0);
	/*background-color: rgba(56,117,215,1);*/
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	border-radius: 4px;
	padding-top: 4px;
	padding-bottom: 5px;
	width: 300px;
	font-weight: bold;
	color: #000;
}

.dash-search-button:active{
	box-shadow: inset 0px 1px 4px 0px rgba(0,0,0,0.5);
	color: #fff;
}

/*Apps*/

.icon-grid {
	spacing: 36px;
	-shell-grid-horizontal-item-size: 96px;
	-shell-grid-vertical-item-size: 96px;
}

.contact-grid {
	spacing: 48px;
	-shell-grid-horizontal-item-size: 272px; /* 2 * -shell-grid-horizontal-item-size + spacing */
	-shell-grid-vertical-item-size: 118px;
}

.icon-grid .overview-icon {
	icon-size: 64px;
}

.all-app {
	padding: 16px 25px 16px 16px;
	spacing: 20px;
}

.all-app:rtl {
	padding-right: 16px;
	padding-left: 25px;
}

.app-filter {
	font-size: 10pt;
	font-weight: bold;
	color: #333;
	width: 200px;
	background-color: rgba(255,255,255,0.85);
	text-shadow: 0 0px 0px rgba(255,255,255,1);
	padding: 4px 0px 4px 15px ;
	margin-right: 0;
	border: 1px rgba(0,0,0,0);
}
.app-filter:first-child{
	border-radius: 4px 4px 0 0;
}

.app-filter:last-child{
	border-radius: 0 0 4px 4px;
}

.app-filter:hover{
	color: #000;
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	border: 1px  rgba(174,207,247,1.0);
	/*background-color: rgba(56,117,215,1);*/

}

.app-filter:selected:hover {
	color: #000;
	background-gradient-direction: vertical;
	background-gradient-start: #ceeafb;
	background-gradient-end: #59b7f2;
	border: 1px  rgba(132,172,221,1.0);
}

.app-filter:selected {
	color: #000;
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	/*background-color: rgba(56,117,215,1);*/
	text-shadow: 0 0px 0px rgba(255,255,255,1);
	border: 1px  rgba(174,207,247,1.0);
}

.dash-item-container>.app-well-app {
	padding: 4px 8px;
}

.remove-favorite-icon {
	color: rgba(56,117,215,1);
}

.remove-favorite-icon:hover {
	color: white;
	icon-shadow: black 0px 2px 2px;
}

.app-well-app>.overview-icon,
.remove-favorite>.overview-icon,
.search-result-content>.overview-icon {
	border-radius: 4px;
	padding: 3px;
	border: 1px rgba(0, 0, 0, 0);
	font-size: 9pt;
	color: #333;
	font-weight: bold;
	text-align: center;
}

.contact {
	width: 272px; /* Same width as two normal results + spacing */
	height: 118px; /* Aspect ratio = 1.75. Normal US business card ratio */
	border-radius: 4px;
	padding: 3px;
	border: 1px rgba(0, 0, 0, 0);
}

.contact-content {
	padding: 8px;
	width: 232px;
	height: 84px;
	color: white;
	text-align: center;
	border: 1px  rgba(255, 255, 255, 0.4);
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 0px;
}

.contact-icon {
	border-radius: 0px;
}

.contact-details {
	padding: 6px 8px 11px 8px;
}

.contact-details-alias {
	font-size: 10pt;
	padding-bottom: 11px;
}

.contact-details-status {
	font-size: 10pt;
}

.contact-details-status-icon {
	padding-right: 2px;
}

.contact:hover {
	background-color: rgba(255, 255, 255, 0.0);
}

.app-well-app.running>.overview-icon {
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	/*background-color: rgba(56,117,215,1);*/
	border: 1px  rgba(174,207,247,1.0);
	border-radius: 4px;
	padding: 3px;
}

.app-well-app.running:hover>.overview-icon {
	background-gradient-direction: vertical;
	background-gradient-start: #ceeafb;
	background-gradient-end: #59b7f2;
	/*background-color: rgba(56,117,215,1);*/
	border: 1px  rgba(132,172,221,1.0);
	border-radius: 4px;
	padding: 3px;
}

.contact:selected,
.app-well-app:selected>.overview-icon,
.search-result-content:selected>.overview-icon {
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	/*background-color: rgba(56,117,215,1);*/
	border: 1px  rgba(174,207,247,1.0);
	border-radius: 4px;
	padding: 3px;
}

.contact:selected:hover,
.app-well-app:selected:hover>.overview-icon,
.search-result-content:selected:hover>.overview-icon {
	background-gradient-direction: vertical;
	background-gradient-start: #ceeafb;
	background-gradient-end: #59b7f2;
	/*background-color: rgba(56,117,215,1);*/
	border: 1px  rgba(132,172,221,1.0);
	border-radius: 4px;
	padding: 3px;
}

.app-well-app:hover>.overview-icon,
.remove-favorite:hover>.overview-icon,
.search-result-content:hover>.overview-icon {
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	border: 1px  rgba(174,207,247,1.0);
	border-radius: 4px;
	padding: 3px;
}

.contact:focus,
.app-well-app:focus>.overview-icon,
.search-result-content:focus>.overview-icon {
	border: 1px #cccccc;
}

.app-well-menu {
	font-size: 10pt;
}

/*LookingGlass*/

#LookingGlassDialog
{
	background-color: rgba(0,0,0,0.72);
	spacing: 4px;
	padding: 4px;
	border: 1px  rgba(0,0,0,0.21);
	border-radius: 3px;
}

#LookingGlassDialog > #Toolbar
{
	border: 1px  grey;
	border-radius: 3px;
}

#LookingGlassDialog .labels {
	spacing: 4px;
}

#LookingGlassDialog .notebook-tab {
	-natural-hpadding: 12px;
	-minimum-hpadding: 6px;
	color: #999;
	padding: 2px;
	transition-duration: 300;
}

#LookingGlassDialog .notebook-tab:hover {
	color: #fff;
}

#LookingGlassDialog .notebook-tab:selected {
	color: #fff;
	font-weight: bold;
}

#LookingGlassDialog .lg-inspector-title {
	font-weight: bold;
	padding-bottom: 8px;
}

.lg-dialog StLabel
{
	color: #8f6;
}

.lg-dialog StEntry
{
	selection-background-color: #3399ff;
	selected-color: #fff;
}

.lg-obj-inspector-title
{
	spacing: 4px;
}

.lg-obj-inspector-button
{
	border: 1px  #999;
	padding: 4px;
	border-radius: 3px;
	transition-duration: 300;
}

.lg-obj-inspector-button:hover
{
	border: 1px  #fff;
}

.lg-dialog .shell-link
{
	color: #ccc;
}

.lg-dialog .shell-link:hover
{
	color: #fff;
}

#LookingGlassDialog StBoxLayout#EvalBox
{
	padding: 4px;
	spacing: 4px;
}

#LookingGlassDialog StBoxLayout#ResultsArea
{
	spacing: 4px;
}

#lookingGlassExtensions {
	padding: 4px;
}

.lg-extension-list {
	padding: 4px;
	spacing: 6px;
}

.lg-extension {
	border: 1px  #666;
	border-radius: 3px;
	padding: 4px;
}

.lg-extension-name {
	font-weight: bold;
}

.lg-extension-actions {
	spacing: 6px;
}

#LookingGlassPropertyInspector {
	color: #8f6;
	background: rgba(0, 0, 0, 0.9);
	border: 2px  grey;
	border-radius: 3px;
	padding: 6px;
}

/*Calendar Popup*/

#calendarEventsArea {
	/* this is the width of the second column of the popup */
	min-width: 200px;
}

.calendar-vertical-separator {
	-stipple-width: 1px;
	-stipple-color: rgba(0,0,0,0.4);
	width: 0.3em;
}

#calendarPopup {
	border: 1px rgba(255,255,255,0.5);
	border-radius: 0px 0px 4px 4px;
}


#calendarPopup .calendar {
	padding: 5px;
}

.calendar {
	padding: .3em 1.5em;
	spacing-rows: 0px;
	spacing-columns: 0px;
}

.calendar-month-label {
	color: #333;
	font-size: 10pt;
	font-weight: bold;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.calendar-change-month-back {
	background-image: url("img/calendar-arrow-left.png");
	height: 20px;
	width: 20px;
	padding: 2px;
	transition-duration: 200;
}

.calendar-change-month-back:rtl {
	background-image: url("img/calendar-arrow-right.png");
}

.calendar-change-month-back:hover {
	background-image: url("img/calendar-arrow-left-hover.png");
}

.calendar-change-month-back:active {

}

.calendar-change-month-forward {
	background-image: url("img/calendar-arrow-right.png");
	height: 20px;
	width: 20px;
	padding: 2px;
	transition-duration: 200;
}

.calendar-change-month-forward:rtl {
	background-image: url("img/calendar-arrow-left.png");
}

.calendar-change-month-forward:hover {
	background-image: url("img/calendar-arrow-right-hover.png");
}
.calendar-change-month-forward:active {

}

.datemenu-date-label {
	padding: .9em 1.75em;
	font-size: 11pt;
	color: #333;
	font-weight: bold;
	text-align: center;
}

.calendar-day-base {
	color: #333;
	font-size: 8pt;
	height: 2em;
	width: 2em;
	text-align: center;
	padding: 1em 1em;

}

.calendar-day-base:hover {
	color: #000;
}

.calendar-day-base:active {
	background-gradient-direction: vertical;
	background-gradient-start: #ceeafb;
	background-gradient-end: #59b7f2;
	/*background-color: rgba(56,117,215,1);*/
}

.calendar-day-heading {
	color: rgba(0,0,0,0.6);
	font-size: 7pt;
	padding-bottom: 0em;
	padding-top: 1.5em;
}

.calendar-week-number {
	color: rgba(0,0,0,0.8);
	font-size: 7pt;
}

.calendar-day {
	color: rgba(0,0,0,0.5);
	border: 1px  rgba(0,0,0,0.2);
	padding: .1em;
	border-top-width: 0;
	border-left-width: 0;
}

.calendar-day-top {
	border-top-width: 1px;
}
.calendar-day-left {
	border-left-width: 1px;
}

.calendar-work-day {
}

.calendar-nonwork-day {

}

.calendar-today {
	color: #000;

	font-weight: bold;
	background-color: #eee;
}

.calendar-other-month-day {
	background-color: #eee;
	color: rgba(0,0,0,0.25);

}

.calendar-day-with-events {
	font-weight: bold;
}

.events-header-vbox {
	spacing: 6pt;
	padding-right: 1.5em;
}

.events-header-vbox:rtl {
	padding-right: 0em;
	padding-left: 1.5em;
}

.events-header-hbox {
	padding: 0.3em;
}

.events-day-header {
	font-size: 10pt;
	color: #333;
	padding-left: 1.2em;
	padding-top: 0.8em;
	padding-bottom: 0.2em;
}

.events-day-header:rtl {
	padding-left: 0em;
	padding-right: 1.8em;
}

.events-day-dayname {
	font-size: 8pt;
	color: rgba(0,0,0,0.5);
	text-align: left;
}

.events-day-dayname:rtl {
	text-align: right;
}

.events-day-time {
	font-size: 9pt;
	color: #333;
	text-align: right;
}

.events-day-time:rtl {
	text-align: right;
}

.events-day-task {
	font-size: 9pt;
	color: rgba(0,0,0,0.5);
	text-align: right;

}

.events-day-name-box {
	min-width: 15px;
}

.events-time-box {
	min-width: 53px;
	padding-right: 6pt;
}

.events-time-box:rtl {
	padding-right: 0px;
	padding-left: 6pt;
}

.events-event-box {
}

.url-highlighter {
	link-color: #fff;
}

/*MessageTray*/

/*lower bar*/

#message-tray {
	height: 27px;
	background-gradient-direction: vertical;
	background-gradient-end: rgba(255,255,255,0.8);
	background-gradient-start: rgba(255,255,255,0.1);
}

#notification {
	background-gradient-direction: vertical;
	background-gradient-end: rgba(255,255,255,0.7);
	background-gradient-start: rgba(255,255,255,0.85);
	border: 1px  rgba(0,0,0,0.3);
	border-radius: 8px 8px 0px 0px;
	border-bottom: 0px;
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.98);
	color: #333;
	padding: 8px 8px 4px 8px;
	spacing-columns: 10px;
	spacing-rows: 10px;
	width: 34em;
	font-size: 9pt;
}

#notification.multi-line-notification {
	padding-bottom: 10px;
}

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
	taken into account during allocation, so its height ends up being limited by the height
	of the content in the other rows. To avoid showing a stretched image, we set the minimum
	height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image {
	min-height: 159px;
}

.summary-boxpointer {
	-arrow-border-radius: 6px;
	-arrow-background-color: rgba(255,255,255,0.95);
	-arrow-border-width: 1px;
	-arrow-border-color: rgba(0,0,0,0.3);
	-arrow-base: 21px;
	-arrow-rise: 11px;
}

.summary-boxpointer #notification {
	background-gradient-direction: vertical;
	background-gradient-end: rgba(255,255,255,0);
	background-gradient-start: rgba(255,255,255,0);
	box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0);
	border: 0;
	padding-bottom: 12px;
}

.summary-boxpointer #summary-right-click-menu {

	padding-top: 12px;
	padding-bottom: 12px;
}

#summary-notification-stack-scrollview {
	max-height: 18em;
	padding-top: 6px;
	padding-bottom: 6px;
}

#summary-notification-stack-scrollview > .top-shadow, #summary-notification-stack-scrollview > .bottom-shadow {
	height: 1em;
}

#summary-notification-stack-scrollview:ltr {
	padding-right: 8px;
}

#summary-notification-stack-scrollview:rtl {
	padding-left: 8px;
}

#notification-scrollview {
	max-height: 10em;
}

#notification-scrollview > .top-shadow, #notification-scrollview > .bottom-shadow {
	height: 1em;
}

#notification-scrollview:ltr > StScrollBar {
	padding-left: 6px;
}

#notification-scrollview:rtl > StScrollBar {
	padding-right: 6px;
}

#notification-body {
	spacing: 5px;
}

#notification-actions {
	spacing: 10px;
}

.notification-button {

	padding: 4px 42px 5px;
}

.notification-button:focus {
	padding: 3px 41px 4px;
}

.notification-icon-button {
	border-radius: 4px;
	padding: 5px;
}

.notification-icon-button:focus {
	padding: 4px;
}

.notification-icon-button > StIcon {
	icon-size: 16px;
}

/*Hotplug*/

.hotplug-transient-box {
	spacing: 6px;
	padding: 2px 30px 0px 10px;
}

.hotplug-notification-item {
	padding: 5px 2px;
}

.hotplug-notification-item:focus {
	padding: 1px 23px 1px 11px;
}

.hotplug-notification-item-icon {
	icon-size: 16px;
	padding: 0px 5px;
}

.hotplug-resident-box {
	spacing: 4px;
}

.hotplug-resident-mount {
	spacing: 4px;
	color: #333;
	padding-left: 1px;
}

.hotplug-resident-mount:hover {
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	border-radius: 3px;
	color: #000;
	padding-left: 0px;
	border: 1px  rgba(174,207,247,1.0);
}

.hotplug-resident-mount-label {
	color: inherit;
	padding-left: 10px;
}

.hotplug-resident-mount-icon {
	icon-size: 16px;
	padding-left: 10px;
}

.hotplug-resident-eject-icon {
	icon-size: 16px;
}

/*Chat*/
.chat-log-message {
	color: #888888;
}

.chat-group-sent, .chat-group-meta {
	padding: 8px 0;
}

.chat-received {
	color: rgba(0,0,0,0.96);
	font-size: 9pt;
	padding: 6px 15px;
}

.chat-sent {
	color: rgba(0,0,0,0.85);
	font-size: 9pt;
	padding: 5px 15px;
}

.chat-received:rtl {
	padding-left: 0px;
	padding-right: 4px;
}

.chat-sent:rtl {
	padding-left: 0px;
	padding-right: 18pt;
}

.chat-meta-message {
	padding-left: 4px;
	border-radius: 4px;
	font-size: 8pt;
	color: rgba(0,0,0,0.8);
}

.chat-meta-message:rtl {
	padding-left: 0px;
	padding-right: 4px;
}

.subscription-message {
	font-style: italic;
}

#notification StEntry {
	padding: 4px;
	border-radius: 4px;
	color: #a8a8a8;
	selection-background-color: #3399ff;
	selected-color: #fff;
	border: 1px  rgba(245,245,245,0.2);
	background-gradient-direction: vertical;
	background-gradient-start: rgb(200,200,200);
	background-gradient-end: white;
	transition-duration: 300;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.6);
	caret-color: rgb(128, 128, 128);
	caret-size: 1px;
}

#notification StEntry:focus {
	border: 1px  #8b8b8b;
	color: #333333;
	background-gradient-direction: vertical;
	background-gradient-start: rgb(200,200,200);
	background-gradient-end: white;
	caret-color: rgb(128, 128, 128);
}

#notification StEntry:hover {
	border: 1px #3399ff;
}

/*The spacing and padding on the summary is tricky; we want to keep
* the icons from touching each other or the edges of the screen, but
* we also want them to be "Fitts"-y with respect to the edges, so the
* summary area's bottom and right padding must actually be part of
* the icons. However, we can't put *all* of the padding into the
* icons, because then the summary would be 0x0 when there were no
* icons in it, and so you wouldn't be able to hover over it to
* activate it.
*
* Also, the spacing between a summary-source's icon and title is
* actually specified as padding-left in source-title, because we
* want the spacing to collapse along with the title.*/

#summary-mode {
	padding: 2px 0px 0px 4px;
	height: 36px;
}

#summary-mode:rtl {
	padding: 2px 4px 0px 0px;
}

.summary-source-button {
	color: rgba(0,0,0,0.85);
	padding-bottom: 1em;

}

.summary-source-button:ltr {
	padding-right: 12px;
}

.summary-source-button:selected .summary-source {
}

.summary-source-button:expanded:selected .summary-source {
	background-image: none;
	border-image: none;
}

.summary-source-button:expanded:selected {
}

.summary-source-button:rtl {
	padding-left: 12px;
}

.summary-source-button:last-child:ltr {
	padding-right: 12px;
}

.summary-source-button:last-child:rtl {
	padding-left: 12px;
}

.summary-source {
	padding-right: 4px;
	padding-left: 4px;
}

.summary-source-counter {
	color: white;
	background-color: #000;
	font-size: 9pt;
	border-radius: 1em;
	min-height: 1em;
	min-width: 1em;
}

.source-title {
	font-size: 9pt;
	padding-left: 4px;
	text-shadow: rgba(255,255,255,0.7) 0 1px 0;
}

.source-title:rtl {
	padding-left: 0px;
	padding-right: 4px;
}

/*Modal Dialogs*/

.modal-dialog {
	background-color: rgba(255,255,255,0.95);
	border-radius: 4px;
	border: 1px  rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);
	color: rgba(0,0,0,0.8);
	font-size: 12px;
	padding: 10px 20px;
	text-shadow: rgba(255,255,255,0.3) 0px 1px 0px;
}

.modal-dialog-button-box {
	padding-bottom: 5px;
	spacing: 10px;
}

.modal-dialog-button {

}

.modal-dialog-button:disabled {
	color: rgb(60, 60, 60);
}

.modal-dialog-button:focus {

}

/*Run Dialog*/

.run-dialog-label {
	font-size: 9pt;
	font-weight: bold;
	color: #333;
	padding-bottom: 10px;
}

.run-dialog-error-label {
	font-size: 9pt;
	color: #333;
}

.run-dialog-error-box {
	padding-top: 15px;
	spacing: 5px;
}

.run-dialog-entry {
	font-size: 9pt;
	font-weight: normal;
	color: #333;
	border: 1px  rgba(0,0,0,0.3);
	border-radius: 3px;
	background-color: rgba(255,255,255,0.95);
	selection-background-color: #3399ff;
	selected-color: #fff;
	padding: 4px;
}

.run-dialog-entry:hover {
	border: 1px #3399ff;
}

.run-dialog {
	padding: 15px;
	border-radius: 4px;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255, 0.9);
	background-gradient-end: rgba(255,255,255, 0.8);
	border: 1px  rgba(0,0,0,0.3);

}

.lightbox {
	background-color: rgba(0,0,0,0.3);
}

/*EndSession Dialog*/

.end-session-dialog {
	background-color: rgba(255,255,255,0.95);
	spacing: 42px;
}

.end-session-dialog-subject {
	font-size: 14pt;
	font-weight: bold;
	color: #333;
	padding-top: 10px;
	padding-left: 17px;
	padding-bottom: 10px;
}

.end-session-dialog-subject:rtl {
	padding-left: 0px;
	padding-right: 17px;
}

.end-session-dialog-description {
	font-size: 9pt;
	color: rgba(0,0,0,0.9);
	padding-left: 17px;
	width: 28em;
}

.end-session-dialog-description:rtl {
	padding-right: 17px;
}

.end-session-dialog-logout-icon {
	border: 1px  rgba(0,0,0,0.3);
	border-radius: 4px;
	width: 48px;
	height: 48px;
}

.end-session-dialog-shutdown-icon {
	width: 48px;
	height: 48px;
}

.end-session-dialog-app-list {
	font-size: 10pt;
	max-height: 200px;
	padding-top: 42px;
	padding-left: 49px;
	padding-right: 32px;
}

.end-session-dialog-app-list:rtl {
	padding-right: 49px;
	padding-left: 32px;
}

.end-session-dialog-app-list-item {
	color: #ccc;
}

.end-session-dialog-app-list-item:hover {
	color: white;
}

.end-session-dialog-app-list-item:ltr {
	padding-right: 1em;
}

.end-session-dialog-app-list-item:rtl {
	padding-left: 1em;
}

.end-session-dialog-app-list-item-icon:ltr {
	padding-right: 17px;
}

.end-session-dialog-app-list-item-icon:rtl {
	padding-left: 17px;
}

.end-session-dialog-app-list-item-name {
	font-size: 10pt;
}

.end-session-dialog-app-list-item-description {
	font-size: 8pt;
	color: #444444;
}

/*PolicyKit Authentication Dialog*/

.prompt-dialog {
	/* this is the width of the entire modal popup */
	width: 500px;
}

.prompt-dialog-main-layout {
	spacing: 24px;
	padding: 10px;
}

.prompt-dialog-message-layout {
	spacing: 16px;
}

.prompt-dialog-headline {
	font-size: 12pt;
	font-weight: bold;
	color: #333;
}

.prompt-dialog-description {
	font-size: 10pt;
	color: #333;
}

.polkit-dialog-user-layout {
	padding-left: 10px;
	spacing: 10px;
	font-weight: 100;
	font-style: normal;
	color: #333;
}

.polkit-dialog-user-layout:rtl {
	padding-left: 0px;
	padding-right: 10px;
}

.polkit-dialog-user-root-label {
	color: #333;
}

.prompt-dialog-password-label {
	padding: 12px 10px 10px 0px;
	font-weight: 100;
	font-style: normal;
	color: #333;
}

.prompt-dialog-password-entry {
	font-size: 10pt;
	font-weight: normal;
	padding: 0px 6px;
	border-radius: 3px;
	color: rgba(0,0,0,0.9);
	background-color: #fff;
	caret-color: rgb(128, 128, 128);
	caret-size: 1px;
	selection-background-color: #3399ff;
	selected-color: #fff;
	border: 1px  rgba(0,0,0,0.3);
}

.prompt-dialog-password-entry:hover {
	border: 1px #3399ff;
}

.prompt-dialog-error-label {
	font-size: 10pt;
	color: #FF0000;
	padding-bottom: 8px;
}

.prompt-dialog-info-label {
	font-size: 10pt;
	padding-bottom: 8px;
}

/*intentionally left transparent to avoid dialog changing size*/
.prompt-dialog-null-label {
	font-size: 9pt;
	color: rgba(0,0,0,0);
	padding-bottom: 8px;
}

/*Magnifier*/

.magnifier-zoom-region {
	border: 2px  rgba(128, 0, 0, 255);
}

.magnifier-zoom-region.full-screen {
	border-width: 0px;
}

/*On-screen Keyboard*/

#keyboard {
	background-gradient-direction: vertical;
	background-gradient-start: rgba(125, 125, 125, 0.6);
	background-gradient-end: rgba(125, 125, 125, 0.9);
}

.keyboard-layout {
	spacing: 10px;
	padding: 10px;
}

.keyboard-row {
	spacing: 15px;
}

.keyboard-key {
	min-height: 30px;
	min-width: 30px;
	font-size: 12pt;
	font-weight: bold;
	border-radius: 6px;
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	border: 1px  rgba(117,117,117,0.4);
	box-shadow: 0px 0px 2px 1px rgba(117,117,117,0.6);
	color: #566060;
}

.keyboard-key:grayed {
	color: #808080;
	border-color: #808080;
	box-shadow: 0px 0px 2px 1px rgba(60,60,60,0.4);
}

.keyboard-key:checked,
.keyboard-key:active,
.keyboard-key:hover {
	background-gradient-direction: vertical;
	background-gradient-start: #ceeafb;
	background-gradient-end: #59b7f2;
	border: 1px  rgba(132,172,221,1.0);
	box-shadow: 0px 0px 2px 1px rgba(117,117,117,0.6);
	color: #233030;
}

.keyboard-subkeys {
	padding: 5px;
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	border-radius: 10px;
	border: 5px  rgba(150,150,150,0.0);
	spacing: 5px;
	box-shadow: 0px 0px 3px 4px rgba(0,0,0,0.3);
	-boxpointer-gap: 10px;
}

/*Shared button properties*/

.notification-button, .notification-icon-button,
.hotplug-notification-item, .modal-dialog-button {
	background-color: rgba(255,255,255,1);
	border-radius: 3px;
	border: 1px  rgba(0,0,0,0.3);
	color: #333;
	font-size: 9pt;
	padding: 5px 15px;
	text-align: center;
}

.notification-button:hover,
.notification-icon-button:hover, .hotplug-notification-item:hover,
.modal-dialog-button:hover {
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	/*background-color: rgba(56,117,215,1);*/
	border: 1px  rgba(0,0,0,0.3);
	color: #000;
}

.notification-button:focus,
.notification-icon-button:focus,.modal-dialog-button:focus {

}

.notification-button:active, .notification-icon-button:active,
.hotplug-notification-item:active, .modal-dialog-button:active,
.modal-dialog-button:pressed {
	border: 1px  rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.9);
	color: #fff;
}

/*Hotplug*/

.hotplug-resident-eject-button {
	color: #333;
	border-radius: 4px;
	border: 1px  rgba(0,0,0,0.3);
	padding: 6px;
}

.hotplug-resident-eject-button:hover {
	color: #000;
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	/*background-color: rgba(56,117,215,1);*/
	border-radius: 4px;
	border: 1px  rgba(0,0,0,0.3);
	padding: 6px;
}

.hotplug-notification-item:focus {

}

.hotplug-resident-eject-button:active {
	box-shadow: inset 0px 1px 2px 0px rgba(0,0,0,0.9);
	color: #fff;
}

/*ShellMountOperation Dialogs*/

.shell-mount-operation-icon {
	icon-size: 48px;
}

.mount-password-reask {
	color: red;
}

.show-processes-dialog,
.mount-question-dialog {
	spacing: 24px;
}

.show-processes-dialog-subject,
.mount-question-dialog-subject {
	font-size: 12pt;
	font-weight: bold;
	color: #666666;
	padding-top: 10px;
	padding-left: 17px;
	padding-bottom: 6px;
}

.show-processes-dialog-subject:rtl,
.mount-question-dialog-subject:rtl {
	padding-left: 0px;
	padding-right: 17px;
}

.show-processes-dialog-description,
.mount-question-dialog-description {
	font-size: 10pt;
	color: white;
	padding-left: 17px;
	width: 28em;
}

.show-processes-dialog-description:rtl,
.mount-question-dialog-description:rtl {
	padding-right: 17px;
}

.show-processes-dialog-app-list {
	font-size: 10pt;
	max-height: 200px;
	padding-top: 24px;
	padding-left: 49px;
	padding-right: 32px;
}

.show-processes-dialog-app-list:rtl {
	padding-right: 49px;
	padding-left: 32px;
}

.show-processes-dialog-app-list-item {
	color: #ccc;
}

.show-processes-dialog-app-list-item:hover {
	color: white;
}

.show-processes-dialog-app-list-item:ltr {
	padding-right: 1em;
}

.show-processes-dialog-app-list-item:rtl {
	padding-left: 1em;
}

.show-processes-dialog-app-list-item-icon:ltr {
	padding-right: 17px;
}

.show-processes-dialog-app-list-item-icon:rtl {
	padding-left: 17px;
}

.show-processes-dialog-app-list-item-name {
	font-size: 10pt;
}

/*Workspace Switcher*/

.workspace-switcher-group {
	padding: 12px;
}

.workspace-switcher-container {
	padding: 10px 20px 10px 20px;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.6);
	background-gradient-end: rgba(255,255,255,0.4);
	box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);
	border: 1px  rgba(0,0,0,0.3);
	border-radius: 4px;
	padding: 20px;
}

.workspace-switcher {
	padding: 10px 20px 10px 20px;
	background-gradient-direction: vertical;
	background-gradient-start: rgba(255,255,255,0.9);
	background-gradient-end: rgba(255,255,255,0.8);
	border: 1px  rgba(0,0,0,0.3);
	border-radius: 4px;
	padding: 4px;
	spacing: 8px;
	box-shadow: inset 0px 1px 5px 0px rgba(0,0,0,0.6);
}

.ws-switcher-active-up {
	border: 1px rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.8);
	border-radius: 4px;
	box-shadow:  0px 1px 0px 0px rgba(255,255,255,0.7);
}

.ws-switcher-active-down {
	border: 1px rgba(0,0,0,0.2);
	border-radius: 4px;
	background-color: rgba(255,255,255,0.8);
	box-shadow:  0px 1px 0px 0px rgba(255,255,255,0.7);
}

.ws-switcher-box {
	height: 110px;
	background: rgba(0,0,0,0.1);
	box-shadow: inset 0px 1px 6px 0px rgba(0,0,0,0.4);
	border: 1px rgba(255,255,255,0.2);
	border-radius: 4px;
}

/*Fixes for various Extensions*/

/*Axe Menu Extension*/

.applications-menu-favorites-box {
	padding: 0px;
}

.axemenu-icon {
	padding-right: 10px;
}

.application-menu-button-label {
	padding-left: 0px;
}

.applications-menu-favorites-button {
	padding-top: 7px;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 7px;
}

.applications-menu-favorites-button:hover, .application-button:hover,
.application-button-selected, .category-button-selected {
	color: #fff;
	background-gradient-direction: vertical;
	background-gradient-start: #dffdff;
	background-gradient-end: #c7e4ff;
	border-radius: 4px;
}
.places-box {
	padding: 10px;
}
.places-button {
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.main-box {
	padding-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 5px;
}

.applications-box {
	padding-bottom: 0px;
	padding-right: 5px;
}

.search_box {
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;

}
.pane-title {
	font-weight: bold;
	padding: 10px 10px;
	font-size: 10pt;
}

.favorites-button-label {
	padding-left: 5px;
}
.favorites-button-box {
	padding-left: 10px;
	padding-right: 0px;
}

.categories-box {
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.categories-scrollbox {
	padding-top: 0px;
	padding-right: 14px;
	padding-bottom: 0px;
}

.favswich-button {
	width: 230px;
	height: 16px;
	font-size: 9pt;
	font-weight: bold;
}

/*System monitor*/

.sm-label {
	color: #333;
	font-size: 10px;
}

.sm-status-label {
	color: #333;
	font-size: 10px;
	padding: 0 2px 0 5px;
}

.sm-unit-label {
	color: #333;
	font-size: 11px;
	padding: 0px 5px 0px 2px;
}

.sm-perc-label {
	color: #333;
	font-size: 11px;
	padding: 0px 5px 0 2px;
}

.sm-temp-label {
	color: #333;
	font-size: 11px;
	padding: 0 5px 0 2px;
}

/*Mediaplayer*/

.button-icon {
   color: #333;
   icon-size: 20px;
   padding: 2px;
}

.track-cover {
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
}

.track-rating {
	font-size: 0.9em;
	color: rgb(56,117,215);
}

.slider-item StLabel {
	font-size: 0.9em;
	width: 6em;
}

/*Dock Extension*/

#dock {
	border-radius: 4px;
	background-gradient-direction: horizontal;
	background-gradient-start: rgba(225,225,225,0.5);
	background-gradient-end: rgba(225,225,225,1);
	border-width: 1px;
	border-color: rgba(0,0,0,0.3);
}

/*Weather extension*/

.weather-current-summary {
	font-size: 20px;
	padding:10px 0px;
}
.weather-forecast-databox {
	padding:10px;
}
