/**********************
 * Fallback Mode Panel
 **********************/

.gnome-panel-menu-bar,
PanelApplet > GtkMenuBar.menubar,
PanelToplevel,
PanelWidget,
PanelAppletFrame,
PanelApplet {
    background-image: 			none;
    background-color: 			@os_chrome_bg_color;
    color: 						@os_chrome_fg_color;
	border-width: 0px;
	border-image: 				none;
    border-style:               none;
	text-shadow:				none;
}


ClockBox,
.gnome-panel-menu-bar {
    /* font: bold; */
}

.gnome-panel-menu-bar .menuitem:prelight {
  /*  background-color: @os_chrome_selected_bg_color;
    color: @os_chrome_selected_fg_color; */
}

.gnome-panel-menu-bar .menuitem *:prelight {
 /*   color: @os_chrome_selected_fg_color;
    text-shadow: @os_chrome_bg_color 0 1; */
}

PanelApplet > GtkMenuBar.menubar .menuitem {
    padding: 0px;

}

PanelApplet .button,
PanelApplet .button:prelight,
PanelApplet .button *:prelight {
    /* padding: 4px; */

    border-image: none;
    border-width: 0px;
    border-radius: 0px;
/*
	-unico-border-gradient: none;
    -unico-outer-stroke-width: 0px;
    -unico-outer-stroke-gradient:  none;
	-unico-inner-stroke-width: 0px;
*/
    background-image: none;
    background-color: alpha(@theme_base_color, 0.0);

    color: @os_chrome_fg_color;
	text-shadow: none;
}

PanelToplevel {
	/* color borde panel */
	background-color:		shade(@os_chrome_bg_color, 0.70);

}

PanelApplet .button:active ,
PanelApplet .button:active:prelight,
PanelApplet .button *:active:prelight {
    border-image: none;
    background-color: @os_chrome_selected_bg_color;
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_selected_bg_color, 1.30)),
                                     to (shade(@theme_selected_bg_color, 1.00)));

	color: @os_chrome_selected_fg_color;
	text-shadow: none;
    border-width: 0px;
    border-radius: 0px;
    border-image: none;

}

PanelApplet *:prelight {
    /* color: @os_chrome_selected_fg_color; */
}

PanelApplet *:active,
PanelApplet *:prelight:active {
    color: @os_chrome_selected_fg_color;
    text-shadow: 0 1 shade (#2255F5, 0.6);
}

NaTrayApplet {
    -NaTrayApplet-icon-padding: 3px;
    -NaTrayApplet-icon-size: 16px;
}

WnckPager, WnckTasklist {
    background-color: @os_chrome_selected_bg_color;
    background-image: none;
    color: @os_chrome_fg_color;
	text-shadow: none;
}

GsmFailWhaleDialog {
    background-color: @os_chrome_bg_color;
    background-image: none;
    color: @os_chrome_fg_color;
	text-shadow: none;
}

GsmFailWhaleDialog * {
    background-color: @os_chrome_bg_color;
    background-image: none;
}
