Package: acvamarin-theme
Version: 1.4.1-beta3
Architecture: all
Maintainer: Lorenzo EclipseSpark Faletra <eclipse@frozenbox.org>
Installed-Size: 10200
Depends: gtk2-engines, libgtk2.0-bin, librsvg2-common
Replaces: gnome-icon-theme, mate-icon-theme
Provides: gnome-icon-theme, mate-icon-theme
Includes: gnome-icon-theme, mate-icon-theme
Section: mate
Priority: optional
Description: Acvamarin theme
 New awesome theme for Parrot Security OS
