/* color scheme */
@define-color bg_color #052524;
@define-color fg_color #4DFEFD;
@define-color base_color #021215;

/* unity color scheme */
@define-color theme_fg_dark_color #4DFEFD;
@define-color theme_shadow_dark_color #052524;




@define-color text_color #4DFEFD;
@define-color selected_bg_color #4DFEFD;
@define-color selected_fg_color #000000;
@define-color tooltip_fg_color #0C85EA;
@define-color tooltip_bg_color #021215;

/* extra color scheme */
@define-color selected_base_color @selected_bg_color;
@define-color selected_text_color #000;
@define-color dark_bg_color @bg_color;
@define-color dark_text_color @fg_color;

/* colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_base_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* shadow effects */
@define-color light_shadow alpha(@base_color, 0.4);
@define-color dark_shadow #1B92BC;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (255, 255, 255);
@define-color info_bg_color rgb (85, 119, 204);
@define-color warning_fg_color rgb (238, 92, 33);
@define-color warning_bg_color rgb (46, 52, 54);
@define-color question_fg_color rgb (97, 122, 214);
@define-color question_bg_color rgb (26, 75, 79);
@define-color error_fg_color rgb (166, 38, 38);
@define-color error_bg_color rgb (46, 52, 54);
@define-color link_color #1f4299;
@define-color error_color #cc0000;

/* theme common colors */
@define-color fg_insensitive mix(@fg_color, darker(@bg_color), 0.6);
@define-color bg_darker shade(@bg_color, 0.9);
@define-color bg_active mix(@bg_color, shade(@selected_bg_color, 0.8), 0.5);
@define-color bg_hover mix(@base_color, @bg_color, 0.7);
@define-color bg_lighter mix(@bg_color, @base_color, 0.6);
@define-color border_normal shade(@bg_color, 0.8);
@define-color border_insensitive shade(@bg_color, 0.8);
@define-color border_selected darker(@selected_bg_color);
@define-color highlight #0CFF06;
@define-color button_bg_normal mix(@base_color, @bg_color, 0.9);
@define-color button_bg_insensitive @bg_color;
@define-color button_border darker(@button_bg_normal);
@define-color notebook_active shade(@bg_color, 0.8);
@define-color scrollbar_slider shade(@bg_color, 1.5);
@define-color panel_bg_normal @dark_bg_color;
@define-color panel_bg_prelight mix(@panel_bg_normal, @selected_bg_color, 0.6);
@define-color panel_bg_active @selected_bg_color;
@define-color panel_fg_normal @dark_text_color;
@define-color panel_fg_selected #000;
@define-color menu_bg_normal @bg_lighter;
@define-color menu_bg_selected shade(@selected_base_color, 1.1);
@define-color menu_fg_normal @text_color;
@define-color menu_fg_selected @selected_text_color;
@define-color menubar_bg_normal @bg_color;
@define-color menubar_bg_selected shade(@selected_bg_color, 1.05);
@define-color menubar_fg_normal @fg_color;
@define-color menubar_fg_selected @selected_fg_color;
@define-color menubar_border @border_insensitive;
@define-color radio_bg_normal #000000;

/* window manager colors */
@define-color wm_bg @bg_color;
@define-color wm_title_focused mix(@fg_color, @bg_color, 0.1);
@define-color wm_title_unfocused mix(@fg_color, @bg_color, 0.6);
@define-color wm_border_focused shade(@bg_color, 0.7);
@define-color wm_border_unfocused shade(@bg_color, 0.8);

@import url("gtk-widgets.css");
@import url("panel.css");
@import url("unity.css");
@import url("gtk-widgets-assets.css");
