/*****************
 * Notebooks and *
 * tabs          *
 *****************/

@define-color theme_tab_bg_color shade(mix (@theme_selected_bg_color, @theme_bg_color, 0.35), 1.25);

.notebook {
    padding: 0px;

	background-color: shade(@theme_bg_color, 0.97);

    /* background and border-bottom */
    background-image: linear-gradient(to top, 
									  shade(@notebook_border, 1.20) 1px,
                                      shade(@theme_bg_color, 0.97)  1px,
                                      shade(@theme_bg_color, 0.97));

	border-style: solid;
    border-width: 1px 1px 0px 1px;
	border-radius: 4px;

	border-top-color:       shade(@notebook_border, 1.00);
    border-left-color: 		shade(@notebook_border, 1.15);
    border-right-color: 	shade(@notebook_border, 1.15);

    box-shadow: inset  0px  3px alpha(#000, 0.01),
				inset  0px  2px alpha(#000, 0.04),
				inset  0px  1px alpha(#000, 0.06);

    -GtkWidget-focus-line-width: 0;
}

.notebook GtkDrawingArea {
	background-color: shade (@theme_bg_color, 0.97);
}

.notebook tab {
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@button_gradient1),
                                     color-stop (0.48, @button_gradient2),
                                     color-stop (0.52, @button_gradient3),
                                     to   (@button_gradient4)); 

    border-width: 1px; 
    border-style: solid; 
	border-radius: 0px;
	border-color: shade(@notebook_border, 1.00);
	border-image: none;
    box-shadow: inset  1px  1px alpha(#fff, 0.08),
                inset -1px -1px alpha(#fff, 0.08);
	color: shade(@theme_text_color, 0.95); 
	text-shadow: 0 1px @theme_shadow_color;

}

.notebook tab:first-child:active,
.notebook tab:first-child {
    border-radius: 4px 0px 0px 0px;
}

.notebook tab:last-child:active,
.notebook tab:last-child {
    border-radius: 0px 4px 0px 0px;
}

.notebook tab:only-child {
    border-radius: 4px;
}

.notebook tab.top {
    padding: 3px 7px;
    border-bottom-width: 0px; 
}

.notebook tab.bottom {
    padding: 2px 7px;
    border-top-width: 0px; 
}

.notebook tab.right {
    padding: 3px 7px;
    border-left-width: 0px;
    border-radius:  2px; 
}

.notebook tab.left {
    padding: 3px 7px;
    border-right-width: 0px;
    border-radius:  2px;
}

.notebook tab:active {
   background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade (@theme_tab_bg_color, 0.90)),
									 color-stop (0.40, shade(@theme_tab_bg_color, 1.05)),
									 to   (shade(@theme_tab_bg_color, 1.15)));

	border-color: shade(@notebook_border, 0.82);
	border-image: none;
    box-shadow: inset  0px  4px alpha(#000, 0.00),
				inset  0px  3px alpha(#000, 0.00),
				inset  0px  2px alpha(#000, 0.00),
				inset  0px  1px alpha(#000, 0.00),

                inset  4px  0px alpha(#000, 0.00),
                inset  3px  0px alpha(#000, 0.01),
                inset  2px  0px alpha(#000, 0.02),
                inset  1px  0px alpha(#000, 0.04),

                inset -4px  0px alpha(#000, 0.00),
                inset -3px  0px alpha(#000, 0.01),
                inset -2px  0px alpha(#000, 0.02),
                inset -1px  0px alpha(#000, 0.04);

}

.notebook tab GtkLabel {
	color: shade(@theme_text_color, 0.95); 
	text-shadow: 1px 1px @theme_shadow_color;
}


