/*****************
 * Notebooks and *
 * tabs          *
 *****************/
.notebook {
    padding: 0px;

	background-color: shade(@theme_bg_color, 0.97);

    /* background and border-bottom */
    background-image: linear-gradient(to top, 
									  shade(@notebook_border, 1.20) 1px,
                                      shade(@theme_bg_color, 0.97)  1px,
                                      shade(@theme_bg_color, 0.97));

	border-style: solid;
    border-width: 1px 1px 0px 1px;
	border-radius: 4px;

	border-top-color:       shade(@notebook_border, 1.00);
    border-left-color: 		shade(@notebook_border, 1.15);
    border-right-color: 	shade(@notebook_border, 1.15);

    box-shadow: inset  0  3 alpha(#000, 0.01),
				inset  0  2 alpha(#000, 0.04),
				inset  0  1 alpha(#000, 0.06);

    -GtkWidget-focus-line-width: 0;
}

.notebook GtkDrawingArea {
	background-color: shade (@theme_bg_color, 0.97);
}

.notebook tab {
	background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (@button_gradient1),
                                     color-stop (0.48, @button_gradient2),
                                     color-stop (0.52, @button_gradient3),
                                     to   (@button_gradient4)); 

    border-width: 1px; 
    border-style: solid; 
	border-radius: 0px;
	border-color: shade(@notebook_border, 1.00);
	border-image: none;
    box-shadow: inset  1  1 alpha(#fff, 0.08),
                inset -1 -1 alpha(#fff, 0.08);
	color: shade(@theme_text_color, 0.95); 
	text-shadow: 0 1 @theme_shadow_color;
}

.notebook tab:first-child:active,
.notebook tab:first-child {
    border-radius: 3px 0px 0px 0px;
}

.notebook tab:last-child:active,
.notebook tab:last-child {
    border-radius: 0px 3px 0px 0px;
}

.notebook tab:only-child {
    border-radius: 0px 0px 0px 0px;
}

.notebook tab.top {
    padding: 3px 7px;
    border-bottom-width: 0px; 
}

.notebook tab.bottom {
    padding: 2px 7px;
    border-top-width: 0px; 
}

.notebook tab.right {
    padding: 3px 7px;
    border-left-width: 0px; 
}

.notebook tab.left {
    padding: 3px 7px;
    border-right-width: 0px; 
}

.notebook tab:active {

    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_base_color, 0.85)),
                                     color-stop (0.66, shade(@theme_base_color, 0.95)),
                                     to (shade(@theme_base_color, 1.00)));

	border-top-color: 		shade(@notebook_border, 0.90);
	border-left-color: 		shade(@notebook_border, 0.95);
	border-right-color: 	shade(@notebook_border, 0.95);
	border-bottom-color: 	shade(@notebook_border, 0.95);
	border-image: none;

    box-shadow: inset  0  4 alpha(#000, 0.00),
				inset  0  3 alpha(#000, 0.00),
				inset  0  2 alpha(#000, 0.00),
				inset  0  1 alpha(#000, 0.00),

                inset  4  0 alpha(#000, 0.01),
                inset  3  0 alpha(#000, 0.02),
                inset  2  0 alpha(#000, 0.04),
                inset  1  0 alpha(#000, 0.06),

                inset -4  0 alpha(#000, 0.01),
                inset -3  0 alpha(#000, 0.02),
                inset -2  0 alpha(#000, 0.04),
                inset -1  0 alpha(#000, 0.06);
}

.notebook tab GtkLabel {
    padding: 0px;
	color: @theme_fg_color;
	text-shadow: 1 1 @theme_shadow_color;
}


