Source: parrot-themes
Section: parrot
Priority: optional
Maintainer: Parrot Dev Team <team@parrotsec.org>
Uploaders: Lorenzo "Palinuro" Faletra <palinuro@parrotsec.org>,
           Lisetta "Sheireen" Ferrero <sheireen@parrotsec.org>
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 10)
Build-Depends-Indep: pkg-config
Homepage: http://www.parrotsec.org/

Package: parrot-themes
Architecture: all
Priority: optional
Depends: gtk3-engines-breeze
Recommends: humanity-icon-theme, gtk2-engines
Replaces: acvamarin-theme, gnome-icon-theme
Provides: acvamarin-theme, gnome-icon-theme
Description: Parrot GNU/Linux default themes and icons
 This package contains the default themes and icons for Parrot GNU/Linux
