.lightdm.button {
    padding: 3px;
}

.lightdm.button {
	border-radius: 0px;
	border-style: solid;
  border-width: 1px;
  border-color: alpha (#FFFFFF, 0.35);
  background-color: @bg_color;
  text-shadow: none;
	-unico-focus-border-color: alpha (@selected_bg_color, 0.7);
	-unico-focus-fill-color: @transparent;
	-unico-focus-outer-stroke-color: alpha (@selected_bg_color, 0.2);
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.01)),
		to (alpha (shade (@bg_color, 0.05), 0.025)));
	-unico-outer-stroke-width: 1;
}

.lightdm.button:focused,
.lightdm.button:hover {
	background-color: @bg_color;
  border-color: @selected_bg_color;
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.05)),
		to (alpha (shade (@bg_color, 0.05), 0.075)));
}

.lightdm.button:active {
  background-color: @button_focus_color;
  border-color: @button_focus_color;
}

.lightdm.button:active:hover {
	background-color: @button_pressed_color;
  border-color: @button_focus_color;
}

.lightdm.button:insensitive {
	background-color: @bg_color;
  border-color: shade (@text_color, 0.2);
  color: shade (@text_color, 0.6);
}

.lightdm.button:insensitive:active {
  background-color: alpha (@button_focus_color, 0.2);
  border-color: mix (shade (@bg_color, 0.9), shade (@button_focus_color, 0.8), 0.2);
	-unico-outer-stroke-gradient: -gtk-gradient (linear, left top, left bottom,
		from (alpha (shade (@bg_color, 0.05), 0.025)),
		to (alpha (shade (@bg_color, 0.05), 0.05)));
}
