Package: parrot-themes
Version: 1.0-9
Architecture: all
Maintainer: Lorenzo EclipseSpark Faletra <eclipse@frozenbox.org>
Installed-Size: 8700
Depends: gtk2-engines, acvamarin-theme
Recommends: humanity-icon-theme, gtk2-engines-pixbuf, gtk2-engines-murrine
Suggests: pwn-icon-theme
Section: mate
Priority: optional
Description: frozenbox default themes
 This package contains a few nice contributed themes for the MATE
 desktop
