/******************
 * Nautilus 3.6.x *
 ******************/

/*******************
 * Symbolic images *
 *******************/
NautilusWindow .sidebar .image {
    color: 	@sidebar_icon;
	icon-shadow: 1 1 @theme_shadow_color;
}

NautilusWindow .sidebar .image:prelight {
    color: 	shade(@sidebar_icon, 1.10);
}

NautilusWindow .primary-toolbar.toolbar {
	/* search-toolbar */
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from (shade(@theme_bg_dark_color, 0.89)),
                                     color-stop (0.20, shade(@theme_bg_dark_color, 0.97)),
                                     to   (shade(@theme_bg_dark_color, 1.00)));

    border-width: 0px 0px 1px 0px;
    border-radius: 0px;
    border-style: solid;
    border-color: shade(@theme_bg_dark_color, 0.78) transparent shade(@theme_bg_dark_color, 0.65) transparent;
    box-shadow: none;
    padding: 3px 5px 3px;
    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: normal;    
}


NautilusWindow .toolbar {
	/* secundary search-toolbar */
    -GtkWidget-window-dragging: true;
    -GtkToolbar-button-relief: normal;    
    padding: 3px 5px;
}

NautilusWindow .toolbar .button *,
.toolbar.menubar NautilusPathBar .button *,
NautilusWindow .toolbar.menubar .linked .button *,
NautilusWindow .toolbar.menubar .button *  {
    padding: 0px;
}

NautilusWindow .toolbar .button,
.toolbar.menubar NautilusPathBar .button,
NautilusWindow .toolbar.menubar .button {
    padding: 2px 4px;
}

.toolbar.menubar NautilusPathBar .button {
    padding: 2px 6px;
}

NautilusToolbar .button {
    icon-shadow: 1px 1px @theme_shadow_color;
}

NautilusToolbar .button *:active {
    icon-shadow: 1px 1px @theme_selected_shadow_color;
}

NautilusToolbar .button *:insensitive,
NautilusToolbar .button *:active:insensitive {
    text-shadow: none;
}

.toolbar NautilusPathBar .button *:active,
.toolbar NautilusPathBar .button *:hover {
	
}

NautilusFloatingBar {
    background-image: -gtk-gradient (linear,
                                     left top, left bottom,
                                     from 	(shade(@theme_bg_color, 0.97)),
                                     to 	(shade(@theme_bg_color, 0.90)));

    border-color: shade (@notebook_tab_gradient_b, 0.80);

    border-radius: 3px 3px 0px 0px;
    border-width: 1px;
    border-style: solid;
}

NautilusFloatingBar .button {
    background-color: alpha (@theme_base_color, 0.0);
    background-image: none;

    border-style: none;
    border-image: none;

    -GtkButton-image-spacing: 0px;
    -GtkButton-inner-border: 0px;
}

NautilusWindow .sidebar .scrollbar {
	-GtkRange-trough-border: 	1px;
    -GtkRange-slider-width:     6px;
}

NautilusWindow .sidebar .scrollbar.trough,
NautilusWindow .sidebar .scrollbar.trough.vertical {
    background-image: none;
    background-color: @sidebar_background;

}

NautilusWindow .sidebar .frame {
    border-width: 0px;
    border-style: none;	
}


NautilusWindow > GtkTable > .pane-separator,
NautilusWindow .pane-separator {
    background-color: @sidebar_background;
    /* border-color: @sidebar_background; */
    border-style: none;
    border-width: 0px;
    background-image: -gtk-gradient(linear,
                                    left top, right top,
                                    from (@sidebar_background),
                                    color-stop (0.50, @sidebar_background),
                                    to   (shade(@theme_bg_color, 0.65)));
}

.toolbar.menubar NautilusPathBar.linked .button *, 
.toolbar.menubar NautilusPathBar .button * {
	color: shade(@theme_fg_dark_color, 1.00);

}

.toolbar.menubar NautilusPathBar.linked .button:active,
.toolbar.menubar NautilusPathBar.linked .button:active:hover {

    background-image: -gtk-gradient (linear,
				     left top, left bottom,
                     from (shade(@button_raised_gradient_color_b, 0.95)),
                     to   (shade(@button_raised_gradient_color_a, 0.85)));
	border-image: 			none;
    border-top-color: 		transparent;
    border-left-color: 		alpha (#fff, 0.01);
    border-right-color: 	alpha (#fff, 0.01);
    border-bottom-color: 	@theme_highlight_color;

    box-shadow: inset  0px  4px alpha(#000, 0.01),
				inset  0px  3px alpha(#000, 0.03),
				inset  0px  2px alpha(#000, 0.04),
                inset  3px  0px alpha(#000, 0.02),
                inset  2px  0px alpha(#000, 0.04),
                inset -3px  0px alpha(#000, 0.02),
                inset -2px  0px alpha(#000, 0.04),
                inset  0px -2px alpha(#000, 0.03),
				inset  0px  1px alpha(#000, 0.12),
				inset  1px  0px alpha(#000, 0.07),
				inset -1px  0px alpha(#000, 0.07),
				inset  0px -1px alpha(#000, 0.07);
}

.toolbar.menubar NautilusPathBar.linked .button *:active,
.toolbar.menubar NautilusPathBar.linked .button *:active:hover {
	color: shade(@theme_text_dark_color, 0.95);
	text-shadow: 1px 1px @theme_shadow_dark_color;
}

/* Middle toolbar-button */
.toolbar.menubar NautilusPathBar.linked .button,
.toolbar.menubar NautilusPathBar.linked .button:hover,
.toolbar.menubar NautilusPathBar.linked .button:active,
.toolbar.menubar NautilusPathBar.linked .button:active:hover,
.toolbar.menubar NautilusPathBar.linked .button:insensitive {
    border-width: 1px;
    border-right-width: 0px;
    border-left-width:  0px;
    border-radius: 0px;
    padding-left:  6px;
    padding-right: 6px;
}

/* Leftmost toolbars-button */
.toolbar.menubar NautilusPathBar.linked .button:first-child,
.toolbar.menubar NautilusPathBar.linked .button:hover:first-child,
.toolbar.menubar NautilusPathBar.linked .button:active:first-child,
.toolbar.menubar NautilusPathBar.linked .button:active:hover:first-child,
.toolbar.menubar NautilusPathBar.linked .button:insensitive:first-child {
    padding-left:  10px;
    padding-right: 6px;
    border-width: 1px;
    border-right-width: 0px;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}


/* Rightmost toolbar-button */
.toolbar.menubar NautilusPathBar.linked .button:last-child,
.toolbar.menubar NautilusPathBar.linked .button:hover:last-child,
.toolbar.menubar NautilusPathBar.linked .button:active:last-child,
.toolbar.menubar NautilusPathBar.linked .button:active:hover:last-child,
.toolbar.menubar NautilusPathBar.linked .button:insensitive:last-child {
    padding-left:  6px;
    padding-right: 10px;
    border-width: 1px;
    border-left-width: 0px;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

/* Linked single toolbar-button */
.toolbar.menubar NautilusPathBar.linked .button:only-child,
.toolbar.menubar NautilusPathBar.linked .button:hover:only-child,
.toolbar.menubar NautilusPathBar.linked .button:active:only-child,
.toolbar.menubar NautilusPathBar.linked .button:active:hover:only-child,
.toolbar.menubar NautilusPathBar.linked .button:insensitive:only-child {
    padding-left:  10px;
    padding-right: 10px;
    border-width: 1px;
    border-radius: 20px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}


