Package: parrot-themes
Version: 2.1+parrot0
Architecture: all
Maintainer: Lorenzo "Palinuro" Faletra <palinuro@frozenbox.org>
Installed-Size: 53610
Depends: gtk3-engines-breeze
Recommends: humanity-icon-theme, gtk2-engines
Replaces: acvamarin-theme
Section: parrot
Priority: optional
Homepage: http://www.parrotsec.org/
Description: Parrot Security default themes and icons
 This package contains the default themes and icons for Parrot Security OS
